@using System.Globalization
@using JabbadabbadoeBooking.Models
@model JabbadabbadoeBooking.Models.Booking

@{
    var nl = CultureInfo.GetCultureInfo("nl-NL");
    bool pinOk = ViewBag.PinOk is bool v && v;
}

<dl class="row">
    <dt class="col-sm-3">Naam</dt>
    <dd class="col-sm-9">@Model.FirstName @Model.LastName</dd>

    <dt class="col-sm-3">Periode</dt>
    <dd class="col-sm-9">@Model.CheckIn.ToString("dd-MM-yyyy", nl) – @Model.CheckOut.ToString("dd-MM-yyyy", nl)</dd>

    <dt class="col-sm-3">Gasten</dt>
    <dd class="col-sm-9">@Model.Guests</dd>

    <dt class="col-sm-3">Totaal</dt>
    <dd class="col-sm-9">€ @Model.TotalPrice.ToString("N2", nl)</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">
        @switch (Model.Status)
        {
            case BookingStatus.Confirmed:
                <span class="badge bg-success">Confirmed</span>
                break;
            case BookingStatus.Cancelled:
                <span class="badge bg-secondary">Cancelled</span>
                break;
            default:
                <span class="badge bg-warning text-dark">Pending</span>
                break;
        }
    </dd>

    <dt class="col-sm-3">E-mail</dt>
    <dd class="col-sm-9">@Model.Email</dd>
    <dt class="col-sm-3">Adres</dt>
    <dd class="col-sm-9">@Model.Address, @Model.PostalCode @Model.City, @Model.Country</dd>
</dl>
